<header>
    <h1><a href="/system/equivalence/results/recent">Equivalence</a></h1>
    <nav>
        <h4><a href="/system/equivalence/results/recent">Recently Processed</a></h4>
        <h4><a href="/system/equivalence/probes">Probes</a></h4>
    </nav>
</header>